<?xml version="1.0" encoding="UTF-8"?>
<beans 
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!--  Constructor-Based Dependency Injection -->
  <bean id="constructor-injection" class="xml.injection.constructor.Message">
    <constructor-arg value="Constructor Injection." />
  </bean>

  <!--  Setter-Based Dependency Injection -->
  <bean id="setter-injection" class="xml.injection.setter.Message">
    <property name="message" value="Setter Injection." />
  </bean>

  <!-- Injecting an Inner Bean -->
  <bean id="inner-injection" class="xml.injection.innerBean.Parrot">
    <property name="message" ref="constructor-injection" />
  </bean>
</beans>
