<?xml version="1.0" encoding="UTF-8"?>
<beans
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!--  Constructor-Based Dependency Injection -->
  <bean id="constructor-injection" class="xml.injection.constructor.Message">
    <constructor-arg value="Constructor Injection." />
  </bean>

  <!-- Specifying Setup and TearDown Methods -->
  <bean id = "setup-teardown" class="xml.injection.constructor.Message" init-method = "setup" destroy-method = "teardown">
    <constructor-arg value="Constructor Injection with init/destroy methods." />
  </bean>

  <!--  Setter-Based Dependency Injection -->
  <bean id="setter-injection" class="xml.injection.setter.Message">
    <property name="message" value="Setter Injection." />
    <property name="otherMessage" ref="other-message" />
  </bean>

  <bean id="other-message" class="java.lang.String">
    <constructor-arg value="This is another String." />
  </bean>

</beans>
